* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lamp-board {
    height: min(100vh, 100vw);
    aspect-ratio: 1 / 1;
    display: grid;
    gap: min(1vh, 1vw);
    padding: min(1vh, 1vw);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.lamp-on {
    border-radius: min(1vh, 1vw);
    background-color: rgb(150, 150, 225);
}
.lamp-off {
    border-radius: min(1vh, 1vw);
    background-color: rgb(50, 50, 75);
}
