* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(wp.jpg);
    background-size: cover;
    background-position: center;

}

#lamp-board {
    height: min(100vh, 100vw);
    aspect-ratio: 1 / 1;
    display: grid;
    gap: min(1vh, 1vw);
    padding: min(1vh, 1vw);
}
.lamp-on, .lamp-off {
    border-radius: min(1vh, 1vw);
    position: relative;
}
.lamp-on {
    background-color: rgb(175, 150, 225);
}
.lamp-on::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgb(175, 150, 225);
    transform: translate(-50%, -50%);
    filter: blur(min(15vh, 15vw));
    opacity: 1;
    pointer-events: none;
    z-index: 23;
}
.lamp-off {
    background-color: rgb(58.33, 50, 75);
    z-index: 22;
}




